<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <h3>Cargar producto</h3> 
      <form action=""></form>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
