<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/category_view.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <div class="breadcrumb">inicio>categ1>categ2>productos</div>
      <div class="view__container">
        <div class="menu-vertical">
          <section>
            <a href="#">PERIFERICOS &#8883;</a>
            <p></p>
          </section>
          <section>
            <a href="#">ALMACENAMIENTO &#8883;</a>
            <p></p>
          </section>
          <section>
            <a href="#">MEMORIAS RAM &#8883;</a>
            <p></p>
          </section>
          <section>
            <a href="#">TECLADOS Y MOUSES &#8883;</a>
            <p></p>
          </section>
          <section>
            <a href="#">NOTEBOOKS &#8883;</a>
            <p></p>
          </section>
          <section>
            <a href="#">CONECTIVIDAD &#8883;</a>
            <p></p>
          </section>
          <section>
            <a href="#">CONSOLAS &#8883;</a>
            <p></p>
          </section>
        </div>
        <section class="view__group">
          <div>
            <!-- para ordenar por mas relevantes  -->
            <span>ordenar por:mas relevantes</span>
          </div>
          <div class="products__grid">
            <% products.forEach(function(product, index){ %>
              <%-include("../partials/productCard",{product:product}); %>
            <% }); %>
          </div>
        </section>
      </div>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
