<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/category_view.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      
      <div class="view__container">
        <div class="menu-vertical">
          <h2>Inicio > Productos-categorías</h2>
          <h1>CATEGORÍAS</h1>
          <section>
            <a href="">PERIFÉRICOS</a>
            <a href=""><p>Teclados</p></a>
            <a href=""><p>Mouses</p></a>
            <a href=""><p>Auriculares</p></a>
          
            <a href="">PLACAS MADRES</a>
            <a href=""><p>INTEL</p></a>
            <a href=""><p>AMD</p></a>
          
            <a href="">PROCESADORES Y COOLERS</a>
            <a href=""><p>INTEL</p></a>
            <a href=""><p>AMD</p></a>
            <a href=""><p>Coolers CPU</p></a>
         
            <a href="">FUENTES Y GABINETES</a>
            <a href=""><p>Gabinetes</p></a>
            <a href=""><p>Fuentes de alimentacion</p></a>
          
            <a href="">ALMACENAMIENTO</a>
            <a href=""><p>Discos</p></a>
            <a href=""><p>SDD</p></a>
            <a href=""><p>Pendrives</p></a>
            <a href=""><p>Discos Rigidos Externos</p></a>
          
            <a href="">MEMORIAS RAM</a>
            <a href=""><p>Memorias</p></a>
            <a href=""><p>Memorias Sodimm</p></a>
          
            <a href="">NOTEBOOKS</a>
            <a href=""><p>Gamers</p></a>
            <a href=""><p>Oficina</p></a>
          
            <a href="">CONECTIVIDAD</a>
            <a href=""><p>Placas de red inalambricas</p></a>
            <a href=""><p>Routers WiFi</p></a>
          
            <a href="">CONSOLAS</a>
            <a href=""><p>La Pley 6 Ultimate Pro X no fake</p></a>
            <a href=""><p>La exisone</p></a>
          </section>
        </div>
        <section class="view__group">
          <div class="select__order__product">
            <!-- para ordenar por mas relevantes  -->
            <span>Ordenar por: Mas relevantes</span>
          </div>
          <div class="products__grid">
            <% products.forEach(function(product, index){ %>
              <%-include("../partials/productCard",{product:product}); %>
            <% }); %>
          </div>
        </section>
      </div>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
