<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <div class="banner__container">
      <img
        src="images/img-home-banner.jpg"
        width="360"
        alt="Banner de ofertas"
      />
    </div>
    <main>
      <h4>VISTA PRODUCTO CON ID XXXX</h4>
      <!-- tiene que ir adentro de un form  -->
      <form action="/products/uploadfile" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Añadir archivo</button>
      </form>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
