<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <div class="breadcrumb"> inicio>categ1>categ2>productos</div>
      <div class="product-grid">
        <div class="menu-vertical">
          <section>
            <a href="#">Menú 1</a>
            <p>dsfsdfg</p>
          </section>
          <section>
           <a href="#">Menú 2</a>
           <p>dsfsdfg</p>
         </section>
         <section>
           <a href="#">Menú 3</a>
           <p>dsfsdfg</p>
         </section>
         <section>
           <a href="#">Menú 4</a>
           <p>dsfsdfg</p>
         </section>
         </div>
        
        <section class="product__group">
          <div>
            <!-- para ordenar por mas relevantes  -->
            <span>ordenar por:mas relevantes</span>
          </div>
          <div class="products">                                            
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/periferico1-tumb_35036_2.jpeg"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/periferico-2tumb_40742_1.jpeg"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/prducto8-tumb_219_18-12-2021-11-12-57-amarillo.png"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/producto-6tumb_219_18-05-2021-10-05-21-rr-01.jpg"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery1"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/producto1-notebook-bangho-156-i7-8gb-1tb-ssd-m2-win-home-0.jpg"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery1"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/producto3-notebook-bangho-156-max-l5-i7-8gb-480gb-free-0.jpg"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery1"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/producto4-cloudbook-kelyx-14-kl3350-intel-n3350-4gb-64gb-w10h-gris-0.jpg"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery1"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/producto5-tumb_219_18-05-2021-10-05-28-sg-265-02.png"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery1"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/producto7-tumb_219_18-12-2021-11-12-28-morado.png"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery1"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
            <article class="product__container card">
              <a href="/productos/x"
                ><div class="product__img__container">
                  <img
                    src="/images/periferico1-tumb_35036_2.jpeg"
                    width="360"
                    alt="MacBook"
                    class="product_img"
                  />
                </div>
                <div class="product__info">
                  <p id="delivery"><i class="fas fa-heart"></i></p>
                  <p id="precio">$230.000</p>
                  <p id="descuento">20% off</p>
                  <span id="descripcion">MacBook Pro 2019</span>
                  <div id="btn">
                    <button> Ver Detalle</button>
                    <button>Añadir  al Carrito</button>
                  </div>
                </div></a
              >
            </article>
          </div>
        </section>
      </div>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
