.cart__container{
    width: 60%;
}
.cart__product__container{

}
.cart_product__img{
    width: 100px;
    height: 100px;
}
.cart__product__info{

}
.cart__product__name{

}
.cart__product__unit__price{

}
.cart__product_quantity{

}
.cart__product__total__price{

}