.cart__container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.cart__product__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart__product__left {
  display: flex;
  /* background: brown; */
  margin-bottom: 10px;
  width: 100%;
}
.cart__product__right {
  /* background: darkslateblue; */
  width: 100%;
  display: flex;
  font-size: 18px;
}
#total_price {
  font-size: 20px;
}

/* left or top panel(left on desktop and top on mobile) */
.cart_product__img {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_product__img img {
  width: 115px;
  height: 115px;
  object-fit: scale-down;
}

.cart__product__name {
  word-wrap: normal;
  padding-left: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart__product__name a {
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

#product_name {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.cart__product__quantity {
  /* background: coral; */
  width: 144px;
  height: 60px;
}

.cart__product__quantity form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__product__quantity form button {
  background: none;
  border: none;
  width: 34px;
  height: 40px;
  color: var(--main-color1);
}
.cart__product__quantity form input {
  text-align: center;
  border-radius: 5px;
  height: 100%;
  width: 76px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Chrome, Safari, Edge, Opera */
.cart__product__quantity form input::-webkit-outer-spin-button,
.cart__product__quantity form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cart__product__quantity form input[type='number'] {
  -moz-appearance: textfield;
}

.cart__product__total {
  flex: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cart__info {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
.cart__info__group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.cart__info__label {
  color: var(--main-color1);
  width: 100%;
}
.total_price {
  font-size: 24px;
  font-weight: 500;
}
.info__span {
  width: 100%;
  max-width: 216px;
}

.cart__actions {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart__actions button {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .cart__product__container {
    flex-direction: row;
  }
  .cart__product__left {
    width: 70%;
  }
  .cart__product__right {
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  .cart__product__name {
    justify-content: center;
  }
  .cart__actions {
    flex-direction: row;
    justify-content: end;
  }
  .cart__actions button {
    width: 150px;
  }
}
