footer .brands-list {
    width: 100%;
    max-height: 130px;
    min-height: 80px;
    overflow-x: auto;
    background: var(--main-color5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
}
footer .information {
    background: var(--main-color6);
    color: var(--main-color5);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.brands-list .brand-img-container {
    min-width: 80px;
    max-width: 130px;
    height: 100%;
    max-height: 130px;
}
.brands-list .brand-img-container img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

@media screen and (min-width: 420px) {

}

@media screen and (min-width: 420px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) {
    footer .information {
        height: 25vh;
        width: 100%;
        flex-direction: row;
        padding: 0;
        gap: 0;
    }
    .information .column {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .information .column h4 {
        height: 15%;
        font-size: 1.5rem;
    }
    .information .column div {
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .information .column div.footer-icons {
        flex-direction: row;
        gap: 5rem;
    }
    div.footer-icons i {
        font-size: 2.5rem;
    }
}    