

.help__questions{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.help__questions h1{
    justify-content: center;
    display: flex;
    border-radius: 6px;
}

.help__questions h2{
    background-color: var(--main-color1);
    justify-content: center;
    display: flex;
    margin: 15px;
    border-radius: 4px;
    padding: 8px;
    color: var(--main-color5);
    font-size: 12px;
    font-weight: 400;
}

.help__questions h2 a {
    text-decoration: none;
    color: var(--main-color5);
}

.help__questions p{
    text-decoration: none;
    color: var(--main-color2);
    font-size: small;
    width: 75%;
    margin-left: 70px;
}

hr.help__divider__solid{
    border-top: 3px solid black;
}