
.card__form__login {
    margin: 40px;
    width: 35%;
    height: 500px;
    background: var(--color8);;
    display: flex;
    flex-direction: center;
    justify-content: center;
    border-radius: 10px;
  }


.section__body__register a {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 40%;
    height: 40px;
    background: var(--color6);
    color: white;
    font-weight: bold;
    /* border: 2px solid rgba(0,0,0,0.3); */
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    margin-left: 140px;
    justify-content: center;
  }
  
  .section__body__register a:first-child {
    margin-top: 30px;
    margin-bottom: 3px;
    background: var(--color1);
  }
  
  .section__body__register a:hover {
    cursor: pointer;
    background: #0022aa;
  }

  .label__form__register{
    margin-top: 70px;
    font-size: small;
    text-align: center;
  }
