.container__form {
  margin: 50px;
  width: 35%;
  min-width: 380px;
  max-width: 30em;
  height: fit-content;
  /* background: var(--main-color4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}


.primary__button,.secondary__button{
  padding: 10px;  
  border-radius: 5px;
}
.secondary__button{
  text-decoration: none;
}
.primary__button{
  border: none;
}

.label__form__register {
  margin-top: 70px;
  font-size: small;
  text-align: center;
}
