:root {
  --main-color1: #4c72bf;
  --main-color2: #03264c;
  --main-color3: #ced9ed;
  --main-color4: #8f9fb2;
  --main-color5: #ffffff;
  --main-color6: #000000;
  --main-color7: #39b54a;
  --main-color7b: #79e087;
  --main-color1b: #6381bd;
  --form-color1: #d6606b;
  --form-color1b:rgb(230, 129, 139);
  --form-color2: #7cc576;
  --form-color3: #e2e794;
  --form-color4: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-color3);
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 68vh;
  width: 90%;
  margin: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 15px 0;
}

.primary__button {
  background: var(--main-color1);
  font-weight: 600;
  color: var(--main-color5);
  text-align: center;
}
.secondary__button {
  background: var(--main-color5);
  font-weight: 600;
  color: var(--main-color1);
  border: 2px solid var(--main-color1);
  text-align: center;
}

.primary__button--block,
.secondary__button--block {
  width: 100%;
}

.primary__button:hover {
  background: var(--main-color1b);
  cursor: pointer;
}

.secondary__button:hover {
  background: var(--main-color3);
  cursor: pointer;
}

.card {
  transition: 0.2s;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.2);
}

.card__header {
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

.card__body{
  padding: 10px;
}

.menu__vertical{
  height: fit-content;
  width: 200px;
}
.menu__vertical ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__vertical a{
  font-size: 18px;
  color: var(--main-color6);
  text-decoration: none;
  width: 100%;
}

.button__1 {
  background-color: var(--main-color1);
}

.button__error {
  background-color: var(--form-color1);
}

.button__success {
  background-color: var(--main-color7);
}

.button__info {
  background-color: var(--form-color3);
}

/* EN UN FUTURO QUITAR LO QUE NO SEA GENÉRICO Y SEA MAS PARTICULAR DE UNA VISTA */

.banner__container {
  width: 100%;
}

.banner__container img {
  width: 100%;
  height: auto;
}
.view__group{
  width: 100%;
}

.section__title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.view__container{
  width: 100%;
  height: 100%;
  display: flex;
}

@media screen and (min-width: 420px) {
  .product__container {
    width: 20em;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.4);
  }
}
@media screen and (min-width: 420px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) {
  .product__container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 1);
    position: relative;
    transform: scale(1, 1.05);
  }
  .product__container:hover #descripcion {
    /* visibility: visible; */
    display: block;
  }
}
