:root {
  --main-color1: #4c72bf;
  --main-color2: #03264c;
  --main-color3: #ced9ed;
  --main-color4: #8f9fb2;
  --main-color5: #ffffff;
  --main-color6: #000000;
  --main-color7: #39b54a;
  --main-color8: #ff0000;

  --form-color1: #d6606b;
  --form-color2: #7cc576;
  --form-color3: #e2e794;
  --form-color4: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 68vh;
  width: 90%;
  margin: auto;
}

body {
  background: var(--main-color3);
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}



.button__1 {
  background-color: var(--main-color1);
}

.button__error {
  background-color: var(--form-color1);
}

.button__success {
  background-color: var(--main-color7);
}

.button__info {
  background-color: var(--form-color3);
}

/* EN UN FUTURO QUITAR LO QUE NO SEA GENÉRICO Y SEA MAS PARTICULAR DE UNA VISTA */

.banner__container {
  width: 100%;
}

.banner__container img {
  width: 100%;
  height: auto;
}

.product__group {
  width: 100%;
}

.section__title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}




@media screen and (min-width: 420px) {
  .product__container {
    width: 20em;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.4);
  }
}
@media screen and (min-width: 420px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) {
  .product__container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(100, 100, 100, 1);
    position: relative;
    transform: scale(1, 1.05);
  }
  .product__container:hover #descripcion {
    /* visibility: visible; */
    display: block;
  }
}
