.container{
    display:flex;
    width:1500px;
    margin: 20px auto;
}
.left{
    width: 50%;
}
.rigth{
    width: 390px;
    height: 450px;
    margin-left: 30px;
}
.big-img{
    width: 100%;
}
.big-img img{
    width:inherit;
}
.images{
    display:flex;
    justify-content:center;
    width: 100%;
    gap:10px;
    margin-top: 15px;
}
.small-img{
    width: 40px;
    height: 40px;
    
}
.small-img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(2,3);
    box-shadow: 1px 2px 2px 1px rgba(15, 15, 15, 0.2);
}

.name{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
}

.price{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 20px;
    color: #4c72bf;
}
.stock{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 20px;
    color:  #39b54a;
}


.btn-box{
    display: flex;
    margin-top: 60px;
}
.btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.cart-btn{
    background-color: cornflowerblue;
    margin-right: 10px;
    margin-left: 20px;
}
.cart-btn:hover{
    background-color: blue;
}

.features{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 20px;
    color:  #000000;
}

.text{
    border-top: 1px solid black;
    margin: 5px;
}


