.toast__container {
  top: 80px;
  z-index: 5;
  position: absolute;
  width: fit-content;
  max-width: 400px;
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  max-height: 100px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  color: rgb(255, 255, 250);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, .3);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.toast_left {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}
.toast_right {
  display: flex;
  align-items: center;
  font-weight: 500;
}

#toast_SUCCESS {
  background: var(--main-color7);
}
#toast_ERROR {
  background: var(--form-color1);
}

#toast_SUCCESS:hover {
  background: var(--main-color7b);
  cursor: pointer;
}
#toast_ERROR:hover {
  background: var(--form-color1b);
  cursor: pointer;
}

.hideMe {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 769px) {
    .toast__container{
        top: 140px;
    }
}