<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <h4>HOLA DESDE LA VISTA NOSOTROS</h4>
    </main>
    <%-include("../partials/footer.ejs")  %> 
  </body>
</html>
