<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/help.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <div class="help__tittle">
        <h1>PREGUNTAS FRECUENTES</h1>
        <h2><a href="/">COMO REALIZAR UN PEDIDO</a></h2>
        <h2><a href="/">PRECIOS</a></h2>
        <h2><a href="/">FORMAS DE PAGO</a></h2>
        <h2><a href="/">DEPOSITO-TRANSFERENCIA BANCARIA</a></h2>
        <h2><a href="/">MERCADO PAGO</a></h2>
        <h2><a href="/">ENVIOS</a></h2>
        <h2><a href="/">GARANTIAS</a></h2>
        <h2><a href="/">FACTURACION</a></h2>
        <h2><a href="/">RECLAMOS</a></h2>
      </div>
    </main>
    <%-include("../partials/footer.ejs")  %> 
  </body>
</html>
