<!DOCTYPE html>
<html>
  <%-include("../partials/head.ejs") %>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <h4> HOLA DESDE LA VISTA AYUDA</h4>
    </main>
    <%-include("../partials/footer.ejs")  %> 
  </body>
</html>
