<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/category_view.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <section class="banner" >
      <img src="images/home_banner.png" /> 
      </section>
      <section class="products__section" >
        <h2 class="list-title" >EN OFERTA</h2>
        <div class="divider" ></div>
        <div class="products__grid">
          <% products.forEach(function(product, index){ %>
            <%-include("../partials/productCard",{product:product}); %>
          <% }); %>
        </div>
      </section>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
