<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Bienvenidos a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="theader">
        <div id="logo-container">
          <a href="/"
            ><img
              src="images/logo-mercado-liebre.svg"
              width="360"
              alt="Logo de MercadoLiebre"
          /></a>
        </div>
        <div class="searchBar">
          <input type="text" placeholder="Buscar productos, marcas, etc" />
          <button><i class="fas fa-search"></i></button>
        </div>

        <div id="slogan">
          <p>
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin
            tarjeta de crédito
          </p>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="auth/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="auth/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>
    <div class="banner__container">
      <img
        src="images/img-home-banner.jpg"
        width="360"
        alt="Banner de ofertas"
      />
    </div>
    <main>
      <section class="product__group">
        <div class="section__title">
          <h3>Basado en tu última visita</h3>
          <button class="button-1">
            Boton 1
          </button>
          <button class="button-error">
            Boton 1
          </button>
          <button class="button-success">
            Boton 1
          </button>
          <button class="button-info">
            Boton 1
          </button>
        </div>
        <div class="products">
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-cafetera-moulinex.jpg"
                  width="360"
                  alt="Cafetera"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$6.770</p>
                <p id="descuento">40% off</p>
                <span id="descripcion">Cafetera Moulinex</span>
              </div></a
            >
          </article>
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-macbook-pro-2019.jpg"
                  width="360"
                  alt="MacBook"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$230.000</p>
                <p id="descuento">20% off</p>
                <span id="descripcion">MacBook Pro 2019</span>
              </div></a
            >
          </article>
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-samsung-galaxy-s10.jpg"
                  width="360"
                  alt="Teléfono Móvil Samsung Galaxy"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$70.500</p>
                <p id="descuento">10% off</p>
                <span id="descripcion">Teléfono móvil Samsung Galaxy S10</span>
              </div></a
            >
          </article>
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-tv-samsung-smart.jpg"
                  width="360"
                  alt="SmartTv Samsung"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$23.200</p>
                <p id="descuento">5% off</p>
                <span id="descripcion">SmartTv Samsung 43"</span>
              </div></a
            >
          </article>
        </div>
      </section>
      <section class="product__group">
        <div class="section__title">
          <h3>Ofertas</h3>
        </div>
        <div class="products">
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-cafetera-moulinex.jpg"
                  width="360"
                  alt="Cafetera"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$6.770</p>
                <p id="descuento">40% off</p>
                <span id="descripcion">Cafetera Moulinex</span>
              </div></a
            >
          </article>
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-macbook-pro-2019.jpg"
                  width="360"
                  alt="MacBook"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$230.000</p>
                <p id="descuento">20% off</p>
                <span id="descripcion">MacBook Pro 2019</span>
              </div></a
            >
          </article>
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-samsung-galaxy-s10.jpg"
                  width="360"
                  alt="Teléfono Móvil Samsung Galaxy"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$70.500</p>
                <p id="descuento">10% off</p>
                <span id="descripcion">Teléfono móvil Samsung Galaxy S10</span>
              </div></a
            >
          </article>
          <article class="product__container card">
            <a href="/products/details/x"
              ><div class="product__img__container">
                <img
                  src="images/img-tv-samsung-smart.jpg"
                  width="360"
                  alt="SmartTv Samsung"
                  class="product_img"
                />
              </div>
              <div class="product__info">
                <p id="delivery"><i class="fas fa-truck"></i></p>
                <p id="precio">$23.200</p>
                <p id="descuento">5% off</p>
                <span id="descripcion">SmartTv Samsung 43"</span>
              </div></a
            >
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="recommendations">
        <div class="footer__info">
          <div class="img__container">
            <i class="fas fa-credit-card"></i>
          </div>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="footer__info">
          <div class="img__container">
            <i class="fas fa-gift"></i>
          </div>
          <h3>Envío gratis desde los $2.500</h3>
          <p>
            Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
            miles de productos. Es un beneficio de MercadoPuntos
          </p>
        </div>
        <div class="footer__info">
          <div class="img__container">
            <i class="fas fa-user-shield"></i>
          </div>
          <h3>Seguridad de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
            hacer porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <div id="copyright">
        <span>Copyright © 1999-2022 MercadoLibre S.R.L.</span>
      </div>
    </footer>
  </body>
</html>
