<section class="brands-list">
    <div class="brand-img-container" >
        <img src="/images/brand1.png" alt="Aorus">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand2.png" alt="Cooler Master">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand3.png" alt="Asus">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand4.png" alt="Corsair">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand5.png" alt="Gigabite">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand6.png" alt="Logitech">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand7.png" alt="HyperX">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand8.png" alt="Razer">
    </div>
    <div class="brand-img-container" >
        <img src="/images/brand9.png" alt="Ryzen">
    </div>
</section>