
<article class="product__container card">
    <a href="/productos/x"
      >
      <div class="card_header">
        <div id="favoritos"><i class="fas fa-heart"></i></div>
        <div class="product__img__container">
            <img
              src="/images/periferico-2tumb_40742_1.jpeg"
              width="360"
              alt="MacBook"
              class="product_img"
            />
          </div>
      </div>
        <div class="product__info">
        <div>
        <span id="product_name">MacBook Pro 2019</span>
        </div>
        <div class="product__data">
        <div>
        <span id="precio">$230.000</span>
        <span id="descuento">20% off</span>
        </div> 
        <div class="product_btn_contain">
          <button class="product_btn" >Ver Detalle</button>
          <button class="product_btn" >Añadir al Carrito</button>
        </div> 
        </div>   
            
      </div></a
    >
  </article>
