<footer>
    <div class="recommendations">
      <div class="footer__info">
        <div class="img__container">
          <i class="fas fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="footer__info">
        <div class="img__container">
          <i class="fas fa-gift"></i>
        </div>
        <h3>Envío gratis desde los $2.500</h3>
        <p>
          Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
          miles de productos. Es un beneficio de MercadoPuntos
        </p>
      </div>
      <div class="footer__info">
        <div class="img__container">
          <i class="fas fa-user-shield"></i>
        </div>
        <h3>Seguridad de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
          hacer porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div id="copyright">
      <span>Copyright © 1999-2022 MercadoLibre S.R.L.</span>
    </div>
  </footer>