<footer>
  <%-include("../partials/brands.ejs")%>
  <div class="information">
    <div class="column">
      <h4>INFORMACIÓN</h4>
      <div>
        <span class="extra-info" >Texto texto</span>
        <span class="extra-info" >Texto texto</span>
        <span class="extra-info" >Texto texto</span>
        <span class="extra-info" >Texto texto</span>
      </div>
    </div>
    <div class="column">
      <h4>EN REDES</h4>
      <div class="footer-icons">
        <span>
          <i class="fab fa-facebook-square"></i>
        </span>
        <span>
          <i class="fab fa-instagram"></i>
        </span>
        <span>
          <i class="fab fa-twitter-square"></i>
        </span>
      </div>
    </div>
    <div class="column">
      <h4>¿DÓNDE ESTAMOS?</h4>
      <div>
        <span class="extra-info" >Texto texto</span>
        <span class="extra-info" >Texto texto</span>
        <span class="extra-info" >Texto texto</span>
        <span class="extra-info" >Texto texto</span>
      </div>
    </div>
  </div>
</footer>