<header>
  <div class="theader">
    <div class="logo-container">
      <a href="/">
        <img src="/images/logo.jpg" width="360" alt="Tech-Commerce" />
      </a>
    </div>
    <div class="searchBar">
      <input type="text" placeholder="Buscar producto..." />
      <button><i class="fas fa-search"></i></button>
    </div>
    <div class="login-section">      
      <div id="h__login__button">
        <a href="#">INGRESAR
        <i class="fas fa-user"></i>
      </a>
      </div>
      <div id="h__cart__button">
        <a href="/products/cart/x"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </div>
  </div>
  <nav>
    <ul class="nav__links nav__links-not-active" id="nav__links">
      <li><a href="#">INGRESAR<i class="fas fa-user"></a></i></li>
      <li><a href="#">CARRITO<i class="fas fa-shopping-cart"></a></i></li>
      <li><a href="#">COMPONENTES PC</a></li>
      <li><a href="#">HARDWARE</a></li>
      <li><a href="#">MONITORES</a></li>
      <li><a href="#">NOTEBOOKS</a></li>
      <li><a href="#">PERIFÉRICOS</a></li>
    </ul>
    <ul class="nav__links__desktop" id="nav__links">
      <li><a href="#">COMPONENTES PC</a></li>
      <li><a href="#">HARDWARE</a></li>
      <li><a href="#">MONITORES</a></li>
      <li><a href="#">NOTEBOOKS</a></li>
      <li><a href="#">PERIFÉRICOS</a></li>
    </ul>
    <div class="burger-menu" id="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </nav>
  <script>
    const burger = document.getElementById('burger-menu');
    const navLinks = document.getElementById('nav__links');

    burger.addEventListener('click', (ev) => {
      ev.preventDefault();
      let navLinksClass = navLinks.className.split(' ');
      navLinksClass = navLinksClass.map((className) => {
        if (className === 'nav__links-not-active') {
          className = 'nav__links-active';
        } else if (className === 'nav__links-active') {
          className = 'nav__links-not-active';
        }
        return className;
      });

      navLinks.className = navLinksClass.join(" ");
    });
  </script>
</header>
