<select id="admin_select">
  <option value="products" <%= selection === "products" ? `selected`:'a'%>>
    Productos
  </option>
  <option value="categories" <%= selection === "categories" ? `selected`:'a'%>>
    Categorias
  </option>
</select>
<script>
  const adminSelect = document.getElementById('admin_select');
  adminSelect.addEventListener('change', (ev) => {
    window.location.href = `/admin?option=${ev.target.value}`;
  });
</script>
