<% if(status && toast_message){%>
<div class="toast__container noselect hideMe" id=<%= `toast_${status}`%>>
    <div class="toast_left">
        <%if(toast_message === "SUCCESS"){%>
        <i class="fa-solid fa-circle-check"></i>
        <%}else{%>
            <i class="fa-solid fa-circle-exclamation"></i>
        <%}%>
    </div>
    <div class="toast_right">
        <p><%= toast_message %></p>
    </div>
</div>
<%}%>