<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <div class="logo__form_header">
        <image class="logo__form" src="/images/logo.png"></image>
      </div>
      <div class="card__form__login">
      <form action="#" class="card">
        <div class="card__header">
          <h2>Login</h2>
        </div>
        <div class="form__section">
          <div class="section__body">
            <div class="form__group">
              <input
                type="email"
                class="inputText"
                id="email"
                placeholder="Ingrese email"
              />
            </div>
          </div>
        </div>
        <div class="form__section">
          <div class="section__body">
            <div class="form__group">
              <input
                type="password"
                id="password"
                class="inputText"
                placeholder="Ingrese contraseña"
              />
            </div>
          </div>
        </div>
        <div class="form__section">
          <div class="section__body__register">
            <a href="/">
               Ingresar
            </a>
            <a href="register">
               Crear cuenta
            </a>
          </div>
        </div>
        <div class="label__form__register">
          <a href="register">
              Necesito ayuda para ingresar
          </a>
        </div>
      </form>
    </div>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
